.container {
  height: 3rem;
  padding: 1rem;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  font-weight: bold;
}

.line {
  height: 1rem;
  width: 1px;
  background: var(--text-gray);
}