:root {
  --primary-color: #1677ff;
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --primary-color: #177ddc;
  --bg-color: #000;
  --text-color: #ffffff;
  --text-gray: #ffffff26;
}

[data-theme="light"] {
  --primary-color: #177ddc;
  --bg-color: #ffffff;
  --text-color: #000;
  --text-gray: #ffffff26;
}